<tr class="item">
  
  <%=
  # @items.methods
  # debug @items.map
  # debug f.object
  %>
  
  <td>
    <%=
    # options_for_select allows me to add custom attributes, in this case data-defaultquantity
    # f.object.item_id is "selected"
    f.select(:item_id, options_for_select(@items.map{|c| [c.name, c.id, {'data-defaultquantity'=>1,'data-cost'=>c.cost}]}, f.object.item_id), {:prompt => 'Select'}, {:class=>'product'})
    # f.select(:item, options_for_select(@items.map{|c| [c.name, c.id, {'data-defaultquantity'=>1,'data-cost'=>c.cost}]}, f.object.item_id), {:prompt => 'Select'}, {:class=>'product'})
    %>
  </td>
  
  <td>
    <%= truncate(strip_tags('Description here')) %>
  </td>
  
  <td>
    <%= f.text_field :cost, :class => 'cost' %>
  </td>
  <td>
    <%= f.text_field :quantity, :class => 'qty' %>
  </td>

  <td class="lineitemtotal">
  </td>

</tr>
