<p>
  <b>Name:</b>
  <%= @company.name %>
</p>

<p>
  <b>Address one:</b>
  <%= @company.address_one %>
</p>

<p>
  <b>Address two:</b>
  <%= @company.address_two %>
</p>

<p>
  <b>City:</b>
  <%= @company.city %>
</p>

<p>
  <b>State:</b>
  <%= @company.state %>
</p>

<p>
  <b>Zipcode:</b>
  <%= @company.zipcode %>
</p>

<p>
  <b>Phone:</b>
  <%= @company.phone %>
</p>

<p>
  <b>Fax:</b>
  <%= @company.fax %>
</p>

<p>
  <b>Website:</b>
  <%= @company.website %>
</p>

<p>
  <b>Account:</b>
  <%= @company.account_id %>
</p>


<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
