<%= form_for(@organization) do |f| %>
  <% if @organization.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@organization.errors.count, "error") %> prohibited this organization from being saved:</h2>

      <ul>
      <% @organization.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h2>Organization</h2>

  <div class="field">
    <%= f.label :name, 'Organization name' %><br />
    <%= f.text_field :name %>
  </div>
  
  <h2>Contacts</h2>
  <%= f.fields_for :contacts do |contact_f| %>
  <div class="field">
      <%= contact_f.label :email %><br />
      <%= contact_f.text_field :email %>
  </div>
  
  <div class="field">
      <%= contact_f.label :first_name %><br />
      <%= contact_f.text_field :first_name %>
  </div>
  
  <div class="field">
      <%= contact_f.label :last_name %><br />
      <%= contact_f.text_field :last_name %>
  </div>
  
  <div class="field">
      <%= contact_f.label :home_phone %><br />
      <%= contact_f.text_field :home_phone %>
  </div>
  
  <div class="field">
      <%= contact_f.label :mobile_phone %><br />
      <%= contact_f.text_field :mobile_phone %>
  </div>
  
  <div class="field">
      <%= contact_f.label :work_phone %><br />
      <%= contact_f.text_field :work_phone %>
  </div>
  
  <div class="field">
      <%= contact_f.label :email %><br />
      <%= contact_f.text_field :email %>
  </div>
  <% end %>
  
  <h2>Details</h2>
  
  <div class="field">
    <%= f.label :address_one %><br />
    <%= f.text_field :address_one %>
  </div>
  <div class="field">
    <%= f.label :address_two %><br />
    <%= f.text_field :address_two %>
  </div>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :state %><br />
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :zipcode %><br />
    <%= f.text_field :zipcode %>
  </div>
  <div class="field">
    <%= f.label :business_phone %><br />
    <%= f.text_field :business_phone %>
  </div>
  <div class="field">
    <%= f.label :fax %><br />
    <%= f.text_field :fax %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
