<h1>Clients</h1>

<table class="listing">
  <tr>
    <th>Organization</th>
    <th>Contact</th>
    <th>Email</th>
    <th>Business Phone</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @organizations.each do |organization| %>
  <tr>
    <td><%= link_to organization.name, organization_url(organization) %></td>
    <td><%= organization.contacts[0].full_name %></td>
    <td><%= organization.contacts[0].email %></td>
    <td><%= organization.business_phone %></td>
    <td><%= link_to 'Show', organization %></td>
    <td><%= link_to 'Edit', edit_organization_path(organization) %></td>
    <td><%= link_to 'Destroy', organization, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Organization', new_organization_path %>
