<h1><%= @organization.name %></h1>

<p>
  Address:<br />
  <%= @organization.address_one %>
  <%= @organization.address_two %><br />
  <%= @organization.city %>  <%= @organization.state %> <%= @organization.zipcode %>
</p>

<p>
  Business phone: <%= @organization.business_phone %><br />
  Fax: <%= @organization.fax %>
  Website: <%= @organization.website %>
</p>

<% @contacts.each do |contact| %>
<p>
<b><%= contact.full_name %></b><br />
Email: <%= contact.email %><br />
Mobile: <%= contact.mobile_phone %><br />
Home: <%= contact.home_phone %><br />
Work: <%= contact.work_phone %>
</p>
<% end %>

<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'Back', organizations_path %>
